@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color:#fff;
}

body{
    background-color: #111;
}

#task::-webkit-scrollbar{
    width:0 !important;
    height:0 !important;
    display:none !important; 
}

#task{
    -ms-overflow-style:none !important;
    scrollbar-width: none !important;
}